<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" width="device-width, initial-scale=1.0">
			<meta name="description" content="{{ page.description }}">
			<meta name="author" content="Rishabh Gupta">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% seo %}
			{% include analytics.html %}
			<div class="posts" itemscope="" itemtype="http://schema.org/Blog">
			  <h1 itemprop="name">Rishabh Gupta's Blog</h1>
			  {% for post in site.posts %}
			    <article class="post" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
			      <h2><a href="{{ post.url }}" itemprop="url"><span itemprop="name">{{ post.title }}</span></a></h2>
			      <meta itemprop="keywords" content="{{ post.tags | join: ',' }}" />
			      <div class="entry" itemprop="description">
				{{ post.content | strip_html | truncatewords: 40 }}
			      </div>
			    </article>
			  {% endfor %}
			</div>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/projects">Projects</a></li>
	        		<li><a href="/blog">Blog</a></li>
					<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rishabhg1997@gmail.com">email me</a></li>
	        		<li><a href="https://github.com/mr-easy">Github</a></li>
				<li><a href="https://www.linkedin.com/in/rishabhgupta1997/">LinkedIn</a></li>
			</ul>
			</footer>
		</body>
	</html>
